{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seznam astronautů</h1>
    {% if astromenData %}
        <table class="normTab">
            <tr>
                <th>Jméno</th><th>Příjmení</th><th>Datum narození</th><th>Dovednost</th><th></th>
            </tr>
            {% for astroRow in astromenData %}
                <tr class="astroRow" data-id="{{ astroRow.id }}">
                    <td>{{ astroRow.f_name }}</td>
                    <td>{{ astroRow.l_name }}</td>
                    <td>{{ astroRow.DOB }}</td>
                    <td>{{ astroRow.skill }}</td>
                    <td>
                        <button class="astro_edit" data-id="{{ astroRow.id }}" type="button">upravit</button>
                        <button class="astro_delete" data-id="{{ astroRow.id }}" type="button">smazat</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Žádní astronauti se zatím nevyvinuli.</p>
    {% endif %}
{% endblock %}
